<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :bird %>
    <%= form.check_box :bird %>
  </div>

  <div class="field">
    <%= form.label :lime %>
    <%= form.check_box :lime %>
  </div>

  <div class="field">
    <%= form.label :spin %>
    <%= form.check_box :spin %>
  </div>

  <div class="actions" id="submit_button">
    <%= form.submit 'Update User', :class => 'btn btn-primary btn-large'%>
  </div>
<% end %>
