<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bird %>
    <%= form.check_box :bird %>
  </div>

  <div class="field">
    <%= form.label :lime %>
    <%= form.check_box :lime %>
  </div>

  <div class="field">
    <%= form.label :jump %>
    <%= form.check_box :jump %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
