<p id="notice"><%= notice %></p>

<h2>Welcome <%= "#{@user.full_name}" %>!</h2>
</br>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<!-- check boxes based on user scooter choice -->
<!-- check boxes does not carry over to the the location finder page need to explore this -->
<%= form_for :user, url: users_path do |f| %>
  <label>Bird<%= f.check_box :bird %></label>
  <label>Lime<%= f.check_box :lime %></label>
  <label>Spin<%= f.check_box :spin %></label>
<% end %>
  <!--  using a button to link to the locations new page -->
  <button onclick="window.location.href='/locations/new'">Lets Find Some Scooters!</button>
</form>




</br/br>
<h4><%= link_to 'Full Scooter List', scooters_path %></h4>
<h4><%= link_to 'Preferred Scooters Near Me', scooters_path  %></h4>

</br/br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
