<p id="notice"><%= notice %></p>

<h2>Welcome <%= "#{@user.full_name}" %>!</h2>
</br>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<!-- links to updating the user -->
<%= render 'search_form', user: @user %>

  <!--  using a button to link to the locations new page -->
  <button f.submit onclick="window.location.href='/locations/new'">Lets Find Some Scooters!</button>

</form>


</br/br>

<%= link_to 'Back', users_path %>
