<p id="notice"><%= notice %></p>

<h2>Welcome <%= "#{@user.full_name}" %>!</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bird:</strong>
  <%= @user.bird %>
</p>

<p>
  <strong>Lime:</strong>
  <%= @user.lime %>
</p>

<p>
  <strong>Spin:</strong>
  <%= @user.spin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
