<div class="container large text-center">
  <h2 class="text-right logo">¤ SCOOTER SLEUTH ¤</h2>

  <p id="notice"><%= notice %></p> 

  <h2>Welcome <%= "#{@user.full_name}" %>!</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<!-- links to updating the user -->
<%= render 'search_form', user: @user %>

  <!--  using a button to link to the locations new page -->
  <button f.submit onclick="window.location.href='/locations/new'" class="btn btn-primary btn-lg">Lets Find Some Scooters!</button>

  <div class="card-footer footer">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Home', users_path %>
  </div>
</div>
