<%= form_with(model: spin, local: true) do |form| %>
  <% if spin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spin.errors.count, "error") %> prohibited this spin from being saved:</h2>

      <ul>
      <% spin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :battery_level %>
    <%= form.text_field :battery_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
