<div class="container large text-center">
  <h2 class="text-right logo">¤ SCOOTER SLEUTH ¤</h2>

  <h2>List of all Scooters</h2>

  <ul>
    <% Lime.first(5).each do |scooter| %>
      <li>ID: <%= scooter.id %> - Company: <%= scooter.company %> - Lattitude: <%= scooter.latitude %> - Longitude: <%= scooter.longitude%> - Battery: <%= scooter.battery_level %></li>
    <% end %>
  </ul>

  <ul>
    <% Bird.first(5).each do |scooter| %>
      <li>ID: <%= scooter.id %> - Company: <%= scooter.company %> - Lattitude: <%= scooter.latitude %> - Longitude: <%= scooter.longitude%> - Battery: <%= scooter.battery_level %></li>
    <% end %>
  </ul>

  <%= link_to 'Home', users_path %>
</div>
