<div class="container large text-center">
  <h2 class="text-right logo">¤ SCOOTER SLEUTH ¤</h2>

  <h2>Enter Your Current Location:</h2>

  <p id="notice_error" class="error"><%= notice %></p>

  <div>
    <%= form_for :location, url: locations_path do |f| %>
      <%= f.label :address %>
      <%= f.text_field :address %>
      <%= f.submit 'Add Location', :class => 'btn btn-primary btn-large' %>
    <% end %>
  </div>

  <div class="card-footer footer">
    <%= link_to 'Home', users_path %>
  </div>
</div>
