<% provide :head_tags do %>
<!-- app/assets/javascripts/locations.js -->
<script type="text/javascript" src='/locations.js'></script>
<meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        // scooterlocations()
        plotMarkers(<%=@birds%>, <%=@limes%>, <%=@jumps%>, <%=@location_lat%>, <%=@location_lng%>)
    });
    </script>
<% end %>


<div class="container large text-center">
  <div class="card-footer header">
    <%= link_to 'Home', users_path %>
  </div>

  <h3 class="text-right logo">¤ SCOOTER SLEUTH ¤</h3>
   <h3 class="text-center">Scooters Near You:</h3>
  <section id="map"></section>

  <div class="footer">
    <div class="row">
      <div class="col-sm col1">
        <div class="row">
          <div class="col-sm-2">
            <img src="https://i.imgur.com/vjwfGlu.png">
          </div>
          <div class="col-sm-10">
            Bird scooters near me: <%= @num_of_bird %></br>
            Average Bird battery level: <%= @bird_battery %>
          </div>
        </div>
      </div>
      <div class="col-sm col2">
        <div class="row">
          <div class="col-sm-2">
            <img src="https://i.imgur.com/2Z46Omm.png">
          </div>
          <div class="col-sm-10">
            Jump scooters near me: <%= @num_of_jump %></br>
            Average Jump battery level: <%= @jump_battery %>
          </div>
        </div>
      </div>
      <div class="col-sm col3">
        <div class="row">
          <div class="col-sm-2">
            <img src="https://i.imgur.com/IfAWHc6.png">
          </div>
          <div class="col-sm-10">
            Lime scooters near me: <%= @num_of_lime %></br>
            Average Lime battery level: <%= @lime_battery %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
