<div class="container large text-center">
  <h3 class="text-right logo">¤ SCOOTER SLEUTH ¤</h3>


  <h3 class="text-center">Scooters Near You:</h3>

  <ul class="scooter_list"><% @closest_scooters.limit(15).each do |scooter| %>
     <li>Brand: <%= scooter.company %>
     Location: <%= scooter.latitude %>
     <%= scooter.longitude %>
     Battery Level: <%= scooter.battery_level %></li>
     <% end %>
  </ul>

  <div>
    Scooters near me: <%= @closest_scooters.count %>
  </div>

  <div>
    Average Scooter Battery Level: <%= @closest_scooters.count %>
  </div>

  <div class="card-footer header">
    <%= link_to 'Home', users_path %>
  </div>

</div>
